{% extends 'letter/letterBase.html.twig' %}
{% trans_default_domain 'letterRecoveringPassword' %}

{% block title %}{% trans %}title{% endtrans %}!{% endblock %}

{% block body %}
    {% trans %}you-requested-pass-recovery{% endtrans %} <a href="https://{{ domain }}" target="_blank">{{ domain|upper }}</a>
    <br/>
    <br/>{% trans %}for-continue{% endtrans %}
    <br/>
    <br/><a href="{{ link }}" target="_blank">{{ link }}</a>
    <br/>
    <br/>{% trans %}if-its-not-you{% endtrans %}
    <br/>
    <br/>{% trans %}thank-you-for-using{% endtrans %}
    <br/>{% trans %}with-respect{% endtrans %} {{ siteName|upper }}
{% endblock %}
